<!-- wp:template-part {"slug":"header","theme":"homedroid"} /-->

<!-- wp:group {"tagName":"main","layout":{"type":"constrained","contentSize":"100%"}} -->
<main class="wp-block-group">
  <!-- wp:pattern {"slug":"homedroid/hero-section"} /-->
  <!-- wp:pattern {"slug":"homedroid/enquiry-form"} /-->
  <!-- wp:pattern {"slug":"homedroid/counter-section"} /-->
  <!-- wp:pattern {"slug":"homedroid/services-section"} /-->
  <!-- wp:pattern {"slug":"homedroid/aboutus-section"} /-->
  <!-- wp:pattern {"slug":"homedroid/wws-block"} /-->
  <!-- wp:pattern {"slug":"homedroid/portfolio-block"} /-->
  <!-- wp:pattern {"slug":"homedroid/testimonial-section"} /-->
  <!-- wp:pattern {"slug":"homedroid/team-section"} /-->
  <!-- wp:pattern {"slug":"homedroid/pricing-table"} /-->
  <!-- wp:pattern {"slug":"homedroid/service-areas"} /-->
  <!-- wp:pattern {"slug":"homedroid/latest-post"} /-->
  <!-- wp:pattern {"slug":"homedroid/faq-block"} /-->
</main>
<!-- /wp:group -->

<!-- wp:template-part {"slug":"footer","theme":"homedroid","area":"footer"} /-->
